body {
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "VT323";
  font-size: 50px;
  margin-bottom: 0;
}

h2 {
  font-weight: normal;
}

p {
  margin-top: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 550px) {
  .container {
    width: 80%;
  }
}

.container:after {
  content: "";
  display: table;
  clear: both;
}
