<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link href="https://fonts.googleapis.com/css?family=VT323|Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/bugs.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <h1>BUG BOUNTY</h1>
      <p>At SuperChat, we take security and transparency seriously. While we believe our chat application is among the most secure in the world, we recognize that bugs can and do occur. SuperChat has developed this bug bounty program to make it easier for security researchers like you to report vulnerabilities to us in order to preserve the security of SuperChat and its users.</p>
      <h2>Scope</h2>
      <p>At the moment, our bug bounty program extends only to vulnerabilities in authentication. Any other vulnerabilities are out of scope for this program, but we are looking to expand our offerings in the future.</p>
      <h2>Rewards</h2>
      <p>If you are the first to disclose an issue and your report is eligible for our program, you will receive:</p>
      <ul>
        <li>A Schoology post</li>
        <li>Whatever amount of cash I have in my bag on Friday</li>
      </ul>
      <p>We believe this generous offer to be better than 90% of bug bounties. No joke.</p>
      <h2>Reporting</h2>
      <p>Please email <a href="mailto:{{email}}">{{email}}</a> with any elibible vulnerabilities you find, with any proof-of-concept code attached.</p>
    </div>
  </body>
</html>
