<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="wrapper">
      <form id="loginForm">
        <p>ENTER PASS<wbr>WORD</p>
        <input type="password" id="password" autofocus required>
        <input type="submit" value="SUBMIT" id="submit">
        <div id="message"></div>
      </form>
      <div class="footer">
        <a href="https://github.com/veggiedefender/vulnerable-webapps/tree/master/timing_attack">source</a>
        <a href="/bugs">bug bounty</a>
      </div>
    </div>
    <script src="/static/app.js"></script>
  </body>
</html>
